body {
    font-size: 20px;
    background-color: lightblue;
    margin-left: 450px;
}
.question {
    font-weight: 700;
}
.answers {
    margin-top: 5px;
    margin-bottom: 20px;
}
.answers label {
    display: block;
}
#submit {
    font-size: 15px;
    padding: 8px;
}